body
  font: normal 100%/150% var(--bodyFont)

h1
  font-size: 2.441em
  font-weight: 500

h2 
  font-size: 1.953em

h3, .h3
  font-size: 1.563em

h1, h2, h3
  line-height: 100%
  font-family: var(--headerFont)
  margin-bottom: .7em

p
  margin-bottom: .5em
