header
  display: flex
  flex-direction: row
  justify-content: flex-end
  margin: 1em 0
  & a 
    font-family: var(--bodyFont)
    font-weight: 300
    text-transform: uppercase
    text-decoration: none
    display: inline-block
    margin-right: 1em
    padding: .25em 2em
    color: white
    background: #06BEE1
    border-radius: 1em
    transition: background 1000ms ease

    &:hover
      background: #1768AC
