#index

  & main
    display: flex
    flex-direction: column
    height: 75vh

    @media (min-width: 960px)
      flex-direction: row

    & figure
      margin: auto
      width: 80%

      & img
        width: 100%

    & #hero
      text-align: center
      margin: auto

      & .h3
        font-weight: 300

  & #map
      
    & iframe
      width: 100%
