#rsvp

  & form
    display: flex
    flex-direction: column  
    width: 20em
    margin: auto

    & input,
    & textarea, 
    & button
      font-family: var(--bodyFont)
      margin-bottom: .5em
      font-size: 1.25em

    & input
      padding: .5em

    & button
      width: 10em
      margin: auto
      border-radius: 1em
